{% extends "layout.html" %}





{% block title %}Create Event{% endblock %}

{% block head %}
    <script src="{{ url_for('static', filename='js/lib/dropzone.js') }}"></script>
    <script src="{{ url_for('static', filename='js/create_event.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/bootstrap-tagsinput.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/bootstrap3-typeahead.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/bootstrap4-toggle.min.js') }}"></script>
{#    <style>#}
{#        .navbar {#}
{#            display: none;#}
{#        }#}
{##}
{#    </style>#}
{#    INCLUDE UA LOGO#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap-tagsinput.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap4-toggle.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/dropzone.css') }}">
{% endblock %}

{% block content %}

    <nav></nav>
    <div class="container" id="content">
        <h1 class="title text-center">Create Internship Application</h1>

        <form method="POST" action="{{ url_for('careers.create_internship') }}" enctype="multipart/form-data">
{#            <div class="form-group">#}
{#                <label for="event-title">Event Title</label>#}
{#                <input type="text" class="form-control" id="event-title" name="title" required>#}
{#            </div>#}

            <div class="form-group">
                <label for="company_name">Company Name</label>
                <input type="text" class="form-control" id="company_name" name="company_name" required>
            </div>

            <div class="form-group">
                <label for="contact_person">Contact Person Name</label>
                <input type="text" class="form-control" id="contact_person" name="contact_person" required>
            </div>

            <div class="form-group">
                <label for="contact_email">Contact Person Email</label>
                <input type="email" class="form-control" id="contact_email" name="contact_email" required>
            </div>

            <div class="form-group">
                <label for="website">Website</label>
                <input type="text" class="form-control" id="website" name="website" required>
            </div>

            <div class="form-group">
            <label for="address">Address</label>
                <input type="text" class="form-control" id="address" name="address" required>
            </div>

{#            <div class="form-group">#}
{#                <label for="event-type">Event Type</label>#}
{#                <select name="type" id="event-type" class="selectpicker" title="Choose Event Type">#}
{#                    <!-- Placeholders -->#}
{#                    <option value="internship">Internship</option>#}
{#                    <option value="job_fair">Job Fair</option>#}
{#                    <option value="conference">Conference</option>#}
{#                    <!-- Placeholders -->#}
{#                </select>#}
{#            </div>#}

            <div class="form-group">
                <label for="event-description">Description</label>
                <textarea class="form-control" id="event-description" name="description"></textarea>
                <script>CKEDITOR.replace('event-description');</script>
            </div>

{#            <div class="form-group">#}
{#                <!-- HIER MOET DUIDELIJK MEER UITLEG -->#}
{#                <label for="event-tags">Tags</label>#}
{#                <input id="event-tags" class="border border-secondary" type="text" name="tags" data-role="tagsinput"#}
{#                       placeholder="Add a tag">#}
{#            </div>#}

            {#            <div class="form-group">#}
            {#                <label>Upload Attachments</label>#}
            {#                <div class="dropzone" id="dropzone"></div>#}
            {#            </div>#}

            <button type="submit" class="btn btn-primary">Create Event</button>
        </form>
    </div>
{% endblock %}
