{% extends "layout.html" %}





{% block title %}Create Event{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='js/lib/dropzone.js') }}"></script>
{#    <script src="{{ url_for('static', filename='js/create_event.js') }}"></script>#}
<script src="{{ url_for('static', filename='js/lib/ckeditor/ckeditor.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/bootstrap-tagsinput.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/bootstrap3-typeahead.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/bootstrap4-toggle.min.js') }}"></script>
<!-- Add this to your create_internship.html template -->
{% if show_popup and success and not request.args.get('refresh') %}
<div class="alert alert-success alert-dismissible fade show container">
    <strong>Success!</strong> Your internship is submitted and is currently under review!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
</div>
{% endif %}
{% if show_popup and not success and not request.args.get('refresh') %}
<div class="alert alert-danger alert-dismissible fade show container">
    An Error occurred
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
</div>
{% endif %}


{#    <style>#}
{#        .navbar {#}
{#            display: none;#}
{#        }#}
{##}
{#    </style>#}
{#    INCLUDE UA LOGO#}
<link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap-tagsinput.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap4-toggle.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/lib/dropzone.css') }}">
{% endblock %}

{% block content %}

    <nav></nav>
    <div class="container" id="content">
        <h1 class="title text-center">Create Internship Application</h1>

        <form method="POST" action="{{ url_for('careers.create_internship') }}" enctype="multipart/form-data">
            {#            <div class="form-group">#}
            {#                <label for="event-title">Event Title</label>#}
            {#                <input type="text" class="form-control" id="event-title" name="title" required>#}
            {#            </div>#}

            <div class="form-group">
                <label for="company_name">Company Name</label>
                <input type="text" class="form-control" id="company_name" name="company_name" required>
            </div>

            <div class="form-group">
                <label for="contact_person">Contact Person Name</label>
                <input type="text" class="form-control" id="contact_person" name="contact_person" required>
            </div>

            <div class="form-group">
                <label for="contact_email">Contact Person Email</label>
                <input type="email" class="form-control" id="contact_email" name="contact_email" required>
            </div>

            <div class="form-group">
                <label for="website">Website</label>
                <input type="text" class="form-control" id="website" name="website" required>
            </div>

            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" name="address" required>
            </div>

            {#            <div class="form-group">#}
            {#                <label for="max_students">Maximum allowed Students</label>#}
            {#                <input type="number" class="form-control" id="max_students" name="max_students" required>#}
            {#            </div>#}

            <div class="form-group">
                <label for="event-description">Description</label>
                <textarea class="form-control" id="event-description" name="description" required></textarea>
                <script>CKEDITOR.replace('event-description');</script>
            </div>


            <button type="submit" class="btn btn-primary text-center"
                    style="display: block; margin: 0 auto; margin-bottom: 20px;">Create Internship
            </button>
        </form>
    </div>
{% endblock %}
