<div class="container">
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <h5 class="card-title">How does it work?</h5>
        <p class="card-text">On this page, companies can easily submit their internship assignment. After submission,
            the assignment is evaluated by our department and upon approval you will receive a confirmation email, after
            which the
            assignment is made visible to our students.</p>
        <p class="card-text">
            In doubt about whether your project meets our conditions? Then consult this document (available in
            <a href="get-document/info-one-pager-NL.pdf" style="color: blue;">Dutch</a>
            and
            <a href="get-document/info-one-pager-EN.pdf" style="color: blue;">English</a>) for more information. For
            further questions, please contact our internship coordinator,
            <a href="mailto:fwet-informatica-stages@uantwerpen.be" style="color: blue">Tim Apers</a>.
        </p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>