<div class="container">

  <div class="text-center">
    <h1 class="display-4">ESP UAntwerpen</h1>
    <p style="font-size: 1.25em;">
      Als student Informatica kan je deze website gebruiken om te zoeken naar een geschikte <strong>thesis</strong>,
      <strong>stage</strong> of <strong>carrièremogelijkheden</strong>. Alle onderzoeksprojecten en masterproefonderwerpen vind je onder de tab <strong>"Onderzoek"</strong>.
      Carrièrekansen zoals <strong>vacatures, jobbeurzen, competities</strong> en <strong>stageprojecten</strong> vind je onder de tab <strong>"Carrière"</strong>.
    </p>
    <hr>
  </div>

  <div class="row text-center">
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-header">
          <h4 class="my-0">Onderzoek</h4>
        </div>
        <div class="card-body">
          <p>Zoek je een onderzoeksonderwerp of masterproef?</p>
            <a class="btn my-2 my-sm-0 btn-outline-dark" href="/projects">
 Bekijk Onderzoek
</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-header">
          <h4 class="my-0">Carrière</h4>
        </div>
        <div class="card-body">
          <p>Verken stages, vacatures, events, etc.</p>

            <a class="btn my-2 my-sm-0 btn-outline-dark" href="/careers">
  Bekijk Carrière
</a>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center my-4">
    <h4>Bedrijfsstage</h4>
    <p style="font-size: 1.1rem">
      Vanaf academiejaar 2025-2026 start het vak <strong>Bedrijfsstage</strong>. De stageprojecten die bedrijven aanbieden, staan onder de tab <strong>Carrière</strong>. Voor een generieke beschrijving en stappenplan van het vak, kan je het volgende <a style="color: blue" href="get-document/draaiboek.pdf" target="_blank">document</a> raadplegen. Voor vragen over dit onderdeel kan je terecht bij onze stage coördinator, <a href="mailto:fwet-informatica-stages@uantwerpen.be" style="color: blue">Tim Apers</a>.
    </p>
      <p style="font-size: 1.1rem">
          Ben je deel van een bedrijf en op zoek naar stages (of andere mogelijkheden) aan onze studenten aan te bieden? Lees er meer over in onze
          <a href="get-document/info-one-pager-NL.pdf" style="color: blue;">one-pager</a>.
    </p>
<a class="btn my-2 my-sm-0 btn-outline-dark" href="/careers?amount=All&types=Internship">
  Bekijk Stageprojecten
</a>    <hr>
  </div>

  <div class="text-center">
    <h4>Registratie Info</h4>
    <p style="font-size: 1.1rem">
      Vanaf academiejaar 2019-2020 worden alle projecten geassocieerd met een externe organisatie administratief opgevolgd via een online registratieprocedure.
      Je start de <strong>registratie</strong> via
      <a style="color: blue" href="https://studhelp.uantwerpen.be/inschrijvingen/knowledgebase.php?article=374" target="_blank">SisA (Aanvragen-Mobiliteit-Aanvraag van Mobiliteit/Stage)</a>
      en vervolledigt het proces in Mobility Online. In Mobility Online volg je een stappenplan voor de volledige administratie.
      Voltooi alle stappen <strong>minstens 3 weken vóór</strong> de start van je stage. Enkel bij finale goedkeuring ben je als stagiair verzekerd.
      <br><br>
        Hieronder vind je de richtlijnen en beoordelingsformulieren voor de masterproef. Je vindt hier belangrijke informatie zoals <strong>de deadline van de masterproef</strong> (artikel 39).
    </p>
    <div class="d-flex justify-content-center align-items-center">
 <div class="card text-center mb-4" style="width: 22rem">
  <div class="card-header">
   <h4 class="my-0">
    Master thesis
   </h4>
  </div>
  <div class="card-body">
   <ul class="list-unstyled">
    <li>
     <a href="get-document/RichtlijnenMasterproefInformaticaJuni2021FINAL.pdf" target="_blank">
      Richtlijnen
     </a>
    </li>
    <li>
    </li>
    <li>
     <a data-toggle="collapse" href="#master-forms">
      Beoordelingsformulieren
     </a>
     <div class="collapse" id="master-forms">
      <ul class="list-unstyled">
       <li>
        <hr/>
       </li>
       <li>
        <a href="get-document/Beoordelingsformulier-FormeelModel.pdf">
         Formeel model
        </a>
       </li>
       <li>
        <a href="get-document/Beoordelingsformulier-Gevalsanalyse.pdf">
         Gevalsanalyse
        </a>
       </li>
       <li>
        <a href="get-document/Beoordelingsformulier-Haalbaarheidsstudie.pdf">
         Haalbaarheidsstudie
        </a>
       </li>
       <li>
        <a href="get-document/Beoordelingsformulier-Literatuurstudie.pdf">
         Literatuurstudie
        </a>
       </li>
       <li>
        <a href="get-document/Beoordelingsformulier-ProcesEvaluatie.pdf">
         Proces evaluatie
        </a>
       </li>
       <li>
        <a href="get-document/Beoordelingsformulier-Simulatie.pdf">
         Simulatie
        </a>
       </li>
       <li>
        <a href="get-document/Beoordelingsformulier-VergelijkendeStudie.pdf">
         Vergelijkende studie
        </a>
       </li>
      </ul>
     </div>
    </li>
    <li>
     <hr/>
     <a href="get-document/GuidelinesMasterThesisComputerScienceJune2021FINAL.pdf" target="_blank">
      Guidelines
     </a>
    </li>
    <li>
     <a data-toggle="collapse" href="#master-forms-en">
      Assessment Forms
     </a>
     <div class="collapse" id="master-forms-en">
      <ul class="list-unstyled">
       <li>
        <hr/>
       </li>
       <li>
        <a href="get-document/AssessmentForm-FormalModel.pdf">
         Formal model
        </a>
       </li>
       <li>
        <a href="get-document/AssessmentForm-CaseStudy.pdf">
         Case study
        </a>
       </li>
       <li>
        <a href="get-document/AssessmentForm-FeasibilityStudy.pdf">
         Feasibility study
        </a>
       </li>
       <li>
        <a href="get-document/AssessmentForm-LiteratureStudy.pdf">
         Literature study
        </a>
       </li>
       <li>
        <a href="get-document/AssessmentForm-ProcessEvaluation.pdf">
         Process evaluation
        </a>
       </li>
       <li>
        <a href="get-document/AssessmentForm-Simulation.pdf">
         Simulation
        </a>
       </li>
       <li>
        <a href="get-document/AssessmentForm-ComparativeStudy.pdf">
         Comparative study
        </a>
      </ul>
     </div>
    </li>
   </ul>
  </div>
 </div>
</div>
        </div>
</div>