<div class="container">

    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <h5 class="card-title">For external orginisations or companies</h5>
        <p class="card-text">
            Are you interested in a collaboration or want to offer internships? Then you can contact our
            coordinator  <a href="mailto:fwet-informatica-stages@uantwerpen.be" style="color: blue">Tim Apers</a>.
        </p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

  <div class="text-center">
    <h1 class="display-4">ESP UAntwerpen</h1>
    <p style="font-size: 1.25em;">
      As a Computer Science student, you can use this website to search for a suitable <strong>thesis</strong>,
      <strong>internship</strong>, or <strong>career opportunities</strong>. All research projects and master thesis topics can be found under the <strong>"Research"</strong> tab.
      Career opportunities such as <strong>job vacancies, job fairs, competitions</strong>, and <strong>internship projects</strong> are listed under the <strong>"Career"</strong> tab.
    </p>
    <hr>
  </div>

  <div class="row text-center">
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-header">
          <h4 class="my-0">Research</h4>
        </div>
        <div class="card-body">
          <p>Looking for a research topic or master thesis?</p>
            <a class="btn my-2 my-sm-0 btn-outline-dark" href="/projects">
 View Research
</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-header">
          <h4 class="my-0">Career</h4>
        </div>
        <div class="card-body">
          <p>Explore internships, job vacancies, events, etc.</p>

            <a class="btn my-2 my-sm-0 btn-outline-dark" href="/careers">
  View Career
</a>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center my-4">
    <h4>Company Internship</h4>
    <p style="font-size: 1.1rem">
        Starting academic year 2025-2026, the course <strong>Company Internship</strong> will be introduced. The internship projects offered by companies can be found under the <strong>Career</strong> tab. A general outline and step-by-step guide can be found <a style="color: blue" href="get-document/handbook.pdf" target="_blank">here</a>. For questions about this course, you can contact our internship coordinator, <a href="mailto:fwet-informatica-stages@uantwerpen.be" style="color: blue">Tim Apers</a>.
    </p>
<a class="btn my-2 my-sm-0 btn-outline-dark" href="/careers?amount=All&types=Internship">
  View Internship Projects
</a>    <hr>
  </div>

  <div class="text-center">
    <h4>Registration Info</h4>
    <p style="font-size: 1.1rem">
      From academic year 2019-2020 onwards, all projects associated with external organisations are administratively managed through an online registration procedure.
      You start the <strong>registration</strong> via
      <a style="color: blue" href="https://studhelp.uantwerpen.be/inschrijvingen/knowledgebase.php?article=374" target="_blank">SisA (Requests-Mobility-Request Mobility/Internship)</a>
      and complete the process in Mobility Online. In Mobility Online, you follow a step-by-step plan for the complete administration.
      Complete all steps <strong>at least 3 weeks before</strong> the start of your internship. Only after final approval are you insured as an intern.
      <br><br>
        Below you will find the guidelines and assessment forms for the master thesis. Here you will find important information such as <strong>the master thesis deadline</strong> (Article 39).
    </p>
      <div class="d-flex justify-content-center align-items-center mb-4">
<div class="card text-center" style="width: 22rem">
        <div class="card-header">
            <h4 class="my-0">
                Master thesis
            </h4>
        </div>
        <div class="card-body">
            <ul class="list-unstyled">
                <li>
                    <a href="get-document/RichtlijnenMasterproefInformaticaJuni2021FINAL.pdf" target="_blank">
                        Richtlijnen
                    </a>
                </li>
                <li>
                </li>
                <li>
                    <a data-toggle="collapse" href="#master-forms">
                        Beoordelingsformulieren
                    </a>
                    <div class="collapse" id="master-forms">
                        <ul class="list-unstyled">
                            <li>
                                <hr/>
                            </li>
                            <li>
                                <a href="get-document/Beoordelingsformulier-FormeelModel.pdf">
                                    Formeel model
                                </a>
                            </li>
                            <li>
                                <a href="get-document/Beoordelingsformulier-Gevalsanalyse.pdf">
                                    Gevalsanalyse
                                </a>
                            </li>
                            <li>
                                <a href="get-document/Beoordelingsformulier-Haalbaarheidsstudie.pdf">
                                    Haalbaarheidsstudie
                                </a>
                            </li>
                            <li>
                                <a href="get-document/Beoordelingsformulier-Literatuurstudie.pdf">
                                    Literatuurstudie
                                </a>
                            </li>
                            <li>
                                <a href="get-document/Beoordelingsformulier-ProcesEvaluatie.pdf">
                                    Proces evaluatie
                                </a>
                            </li>
                            <li>
                                <a href="get-document/Beoordelingsformulier-Simulatie.pdf">
                                    Simulatie
                                </a>
                            </li>
                            <li>
                                <a href="get-document/Beoordelingsformulier-VergelijkendeStudie.pdf">
                                    Vergelijkende studie
                                </a>
                            </li>
                            <!-- <li>
                                <a href="get-document/Beoordelingsformulier-AdHoc.pdf">
                                    AdHoc
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </li>
                <li>
                    <hr/>
                    <a href="get-document/GuidelinesMasterThesisComputerScienceJune2021FINAL.pdf" target="_blank">
                        Guidelines
                    </a>
                </li>
                <li>
                    <a data-toggle="collapse" href="#master-forms-en">
                        Assessment Forms
                    </a>
                    <div class="collapse" id="master-forms-en">
                        <ul class="list-unstyled">
                            <li>
                                <hr/>
                            </li>
                            <li>
                                <a href="get-document/AssessmentForm-FormalModel.pdf">
                                    Formal model
                                </a>
                            </li>
                            <li>
                                <a href="get-document/AssessmentForm-CaseStudy.pdf">
                                    Case study
                                </a>
                            </li>
                            <li>
                                <a href="get-document/AssessmentForm-FeasibilityStudy.pdf">
                                    Feasibility study
                                </a>
                            </li>
                            <li>
                                <a href="get-document/AssessmentForm-LiteratureStudy.pdf">
                                    Literature study
                                </a>
                            </li>
                            <li>
                                <a href="get-document/AssessmentForm-ProcessEvaluation.pdf">
                                    Process evaluation
                                </a>
                            </li>
                            <li>
                                <a href="get-document/AssessmentForm-Simulation.pdf">
                                    Simulation
                                </a>
                            </li>
                            <li>
                                <a href="get-document/AssessmentForm-ComparativeStudy.pdf">
                                    Comparative study
                                </a>
                            </li>
                            <!-- <li>
                                <a href="get-document/Beoordelingsformulier-AdHoc.docx">
                                    AdHoc
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
  </div>
</div>